.Home_ClickView{
  width: 100px;
  text-align: center;
  margin: 0px 10px;
}

.Home_SubjectList_Main{
  overflow: auto;
   -ms-overflow-style: none;
}
.Home_SubjectList_Main>li>a{

  /* border-bottom: 1px solid rgba(100, 100, 100, 0.2); */
}
.Home_SubjectList_Main::-webkit-scrollbar{ display:none; }

.Home_Subject_Info{
  width: 100%;
  height: 80px;
  margin: 20px 0px;
}

.Home_Subject_Info_text{
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.Home_Logout{
  position: fixed;
  bottom: 20px;
  padding-left: 100px;
  text-align: right;
}
