.StdClass_Content{
  width: 95%;
  height: 850px;
  margin: 0 auto;
}

.StdClass_Content_Left, .StdClass_Content_Right{
  height: 100%;
  float: left;
}

.StdClass_Content_Left{
  width: 75%;
  margin-right: 1%;
  border-radius: 20px;
  padding: 1%;
}

.StdClass_Content_Right{
  width: 24%;
  border-radius: 20px;
}
.StdClass_Bottom{
  width: 95%;
  margin: 10px auto;
  height: 100px;
  text-align: right;
}

.StdClass_UnderBar_Button>button{
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 20px;
  background-color: rgba(50, 220, 100, 0.8);
}

.StdClass_Content_Right_Top, .StdClass_Content_Right_Bottom{
  display: block;
  width: 100%;
}

.StdClass_Content_Right_Top{
  height: 40%;
  padding: 20px;
}
