@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

@font-face {
  font-family: Jalnan;
  src : url("./font/JalnanOTF.otf");
}
@font-face{
  font-family: Kosug;
  src : url("./font/KosugiMaru-Regular.ttf");
}

@font-face {
  font-family: BMDOHYEON;
  src : url("./font/BMDOHYEON_otf.otf");
}
body{
  /* width : 1700px; */
}

div, input, span, button{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bolder;
}


*:focus{
  outline: none;
}
button:focus{
  outline: none;
  border: 0;
}
